<!DOCTYPE html>
<html lang="en" class="galaxyBodyResults blueBody">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Highlight</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Mono:300i" rel="stylesheet">
        <link rel="stylesheet" href="css/flag-icon.min.css">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/css/uikit.min.css">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="css/styles.css">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit-icons.min.js"></script>
    </head>
<body>

    <!-- navbar -->

    <nav class="uk-navbar-container uk-navbar-transparent noBorder" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="index.html"><span uk-icon="bolt"></span>&nbsp;highlight</a></li>
                <li><a href="authorForm.html"><span uk-icon="plus"></span>&nbsp;add author</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><button id="loginButton" class="uk-button uk-button-secondary">login</button></li>
            </ul>
        </div>
    </nav>

    <!-- header title -->

    <div class="uk-container searchResults">

        <h1 class="whitishText searchContainerTitle uk-text-center resultsCount">5 results</h1>

        <h6 class="uk-width-expand lightGreyText" uk-leader="fill: ∆"> </h6>

        <!-- results grid -->

        <div class="uk-child-width-expand@m uk-grid-match" uk-grid>

            <!-- james baldwin -->

            <div>
                <div class="uk-card uk-card-default uk-margin">
                    <div class="uk-card-header">
                        <div class="uk-width-expand">
                            <div class="uk-card-badge uk-label">8 works</div>
                            <h3 class="uk-card-title uk-margin-remove-bottom">James Baldwin</h3>
                            <p class="uk-text-meta uk-margin-remove-top"><span class="flag-icon flag-icon-us"></span> New York City, New York, United States<br>Born: August 02, 1924<br>Died: December 01, 1987</p>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>James Arthur "Jimmy" Baldwin was an American novelist and social critic. His essays, as collected in Notes of a Native Son, explore intricacies of racial, sexual, and class distinctions in Western societies, most notably in mid-20th-century America.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-align-right" href="baldwin.html" class="uk-button uk-button-text">View Author<span uk-icon="arrow-right"></span></a>
                    </div>
                </div>
            </div>

            <!-- Ghalib Shiraz Dhalla -->

            <div>
                <div class="uk-card uk-card-default uk-margin">
                    <div class="uk-card-header">
                        <div class="uk-width-expand">
                            <div class="uk-card-badge uk-label">2 works</div>
                            <h3 class="uk-card-title uk-margin-remove-bottom">Ghalib Shiraz Dhalla</h3>
                            <p class="uk-text-meta uk-margin-remove-top"><span class="flag-icon flag-icon-ke"></span> Mombasa, Kenya<br>Born: June 05, 1978</p>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Ghalib Shiraz Dhalla is an American writer. He is most famous for his novel Ode to Lata published in 2002, that was adapted to a film in 2008 under the title The Ode. He has also published the novel The Two Krishnas in 2011, which was released as The Exiles in India.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-align-right" href="#" class="uk-button uk-button-text">View Author<span uk-icon="arrow-right"></span></a>
                    </div>
                </div>
            </div>

        </div> <!-- closing grid -->

        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>

            <!-- malinda lo -->

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-width-expand">
                            <div class="uk-card-badge uk-label">12 works</div>
                            <h3 class="uk-card-title uk-margin-remove-bottom">Malinda Lo</h3>
                            <p class="uk-text-meta uk-margin-remove-top"><span class="flag-icon flag-icon-cn"></span> China<br>Born: 1974</p>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Malinda Lo is an American writer of young adult novels including Ash, Huntress, Adaptation, and Inheritance. She also does research on diversity in young adult literature publishing.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-align-right" href="#" class="uk-button uk-button-text">View Author<span uk-icon="arrow-right"></span></a>
                    </div>
                </div>
            </div>

            <!-- yukio mishima -->

            <div>
                <div class="uk-card uk-card-default uk-grid-match">
                    <div class="uk-card-header">
                        <div class="uk-width-expand">
                            <div class="uk-card-badge uk-label">13 works</div>
                            <h3 class="uk-card-title uk-margin-remove-bottom">Yukio Mishima</h3>
                            <p class="uk-text-meta uk-margin-remove-top"><span class="flag-icon flag-icon-jp"></span> Yotsuya, Tokyo, Japan<br>Born: January 14, 1925<br>Died: November 25, 1970</p>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Yukio Mishima is the pen name of Kimitake Hiraoka, a Japanese author, poet, playwright, actor, model, film director, founder of the Tatenokai, and nationalist. Mishima is considered one of the most important Japanese authors of the 20th century.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-align-right" href="#" class="uk-button uk-button-text">View Author<span uk-icon="arrow-right"></span></a>
                    </div>
                </div>
            </div>

        </div> <!-- closing 2nd grid -->

        <div class="uk-child-width-expand@s" uk-grid>

            <!-- kazim ali -->

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-width-expand">
                            <div class="uk-card-badge uk-label">20 works</div>
                            <h3 class="uk-card-title uk-margin-remove-bottom">Kazim Ali</h3>
                            <p class="uk-text-meta uk-margin-remove-top"><span class="flag-icon flag-icon-gb"></span> United Kingdom<br>Born: 1971</p>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Kazim Ali is an American poet, novelist, essayist and professor. His most recent books are Inquisition and All One's Blue. His honors include an Individual Excellence Award from the Ohio Arts Council.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-align-right" href="#" class="uk-button uk-button-text">View Author<span uk-icon="arrow-right"></span></a>
                    </div>
                </div>
            </div>

        </div> <!-- closing 3rd grid -->

    </div> <!-- closing container -->


</body>
</html>